* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Oswald", sans-serif;
   height: 2000px;
   background-color: deepskyblue;
}

.header-top {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 100;
   background: transparent;
   padding: 21px 40px 0 24px;
   border-bottom: 2px solid rgba(255,255,255,0.5);
   transition: all ease 1s;
}



a {
text-transform: uppercase;
}